@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* blog styles */

p{
  @apply text-sm sm:text-base opacity-75 my-3 leading-normal sm:leading-relaxed;
}

h1,h2,h3{
  @apply my-2 font-medium opacity-80;
}

h1{
  @apply text-3xl;
}

h2{
  @apply text-2xl;
}

h3{
  @apply text-xl;
}

blockquote{
  @apply bg-zinc-100 dark:bg-zinc-900 px-6 py-1 opacity-70 my-5 border-2 border-zinc-200 dark:border-zinc-800 rounded-lg;
}

ol{
  @apply opacity-75 list-disc my-4;
}

li{
  @apply my-2.5;
}

code{
  @apply text-xs opacity-75;
  font-family: "IBM Plex Mono", monospace;
}

pre{
  @apply p-8 sm:p-12 rounded-lg border dark:border-zinc-800 text-sm;
  font-family: "IBM Plex Mono", monospace;
}



