@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.center {
  margin: 0 auto;
  text-align: center;
}

/* blog styles */

p{
  @apply text-sm sm:text-base opacity-80 my-3 leading-normal sm:leading-relaxed;
}

h1{
  @apply text-3xl;
}

h2{
  @apply text-2xl;
}

h3{
  @apply text-xl;
}

blockquote{
  @apply bg-zinc-50 dark:bg-zinc-900 px-6 py-1 opacity-70 my-5 border-l-2 border-l-zinc-200 dark:border-l-zinc-800;
}



